backup
home/.emacs.d/.mc-lists.el
home/.emacs.d/auto-save-list
home/.emacs.d/bookmarks.bmk
home/.emacs.d/init_local.el
home/.emacs.d/recentf
home/texmf/tex/latex/images/signature-F-Niessen.png
local
org/theme-readtheorg-local-abs.setup
plugins
